
.container {
    width: calc(80% - 100px);
    height: 100%;
    float: left;
    .menu {
        height: auto;
        width: 100%;
        background-color: lighten(blue, 10%);
        button {
            color: #f9f9f9D0;
            background-color: transparent;
            border: none;
            font-size: 1.14em;
            padding: 14px;
            cursor: pointer;
            text-decoration: underline;
            &:hover {
                color: #f9f9f9F0;
            }
            &:active {
                color: #f9f9f9D0;
            }
        }
    }
    .form {
        height: calc(100% - 50px);
        width: 100%;
        .form-field {
            width: calc(100% - 20px);
            margin: 20px 10px;
            font-size: 1.1em;
            label {
                width: 100%;
                display: inline-block;
            }
            input {
                width: calc(100% - 16px);
                padding: 8px;
                color: #272727;
                border: 1px solid #272727;
                &:read-only {
                    color: #969696;
                }
            }
            select {
                width: calc(100%);
                padding: 5px;
            }
        }
    }
}
