<div class="container">
    <div class="menu">
        <button (click)="clear()">Neu</button>
        <button (click)="save()">Speichern</button>
        <button (click)="edit()">Bearbeiten</button>
        <button (click)="delete()">Löschen</button>
    </div>
    <div class="form">
        <div class="form-field">
            <label>Anrede</label>
            <select [(ngModel)]="employee.salutation">
                <option *ngFor="let element of salutation" [ngValue]="element.value">{{element.displayName}}</option>
            </select>
        </div>
        <div class="form-field">
            <label>Name</label>
            <input type="text" [(ngModel)]="employee.name"/>

        </div>
        <div class="form-field">
            <label>Telefonnummer</label>
            <input type="text" [(ngModel)]="employee.phone" />
        </div>
        <div class="form-field">
            <label>E-Mail</label>
            <input type="email" [(ngModel)]="employee.email" />
        </div>
        <div class="form-field">
            <label>Sanitätshaus ID</label>
            <input type="text" [(ngModel)]="employee.medicalStoreId" readonly />
        </div>
        <div class="form-field">
            <label>Version</label>
            <input type="number" [(ngModel)]="employee.version" readonly />
        </div>
        <div class="form-field">
            <label>Rollen IDs</label>
            <input type="text" [(ngModel)]="employee.roleIds" readonly />
        </div>
        <div class="form-field">
            <label>Erstell/Bearbeitete am</label>
            <input type="text" [(ngModel)]="employee.createdAt" readonly />
        </div>
    </div>
</div>