<div class="container">
    <ng-container *ngIf="employees$ | async as employees">
        <app-list [elements]="employees" [headerText]="'Mitarbeiter'" (elementOutput)="selectedId($event)"></app-list>
    </ng-container>
    <app-form [employeeId]="employeeId"></app-form>
</div>
