.list {
    height: 100%;
    width: calc(20% - 1px);
    min-width: 300px;
    border-right: 1px solid blue;
    float: left;
    .header {
        width: 100%;
        height: 30px;
        font-size: 1.5em;
        text-align: center;
        padding: 10px 0;
        background-color: blue;
        color: #f9f9f9;
    }
    .content {
        height: calc(100% - 50px);
        .element {
            width: calc(100% - 20px);
            padding: 10px;
            font-size: 0.8em;
            background-color: lighten(blue, 40%);
            cursor: pointer;
        }
    }
}