<div class="list">
    <div class="header">{{ headerText }}</div>
    <div class="content">
        <div class="element" *ngFor="let element of elements" (click)="selectElement(element.id)"> {{element.id}} </div>
    </div>
</div>
